# Python
__pycache__/
*.py[cod]
*.pyo

# Buildozer
.buildozer/
bin/

# Python virtual env
venv/
.env/

# Android
.gradle/
local.properties

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# VS Code
.vscode/

# PyCharm
.idea/

# Logs
*.log

# GitHub
.github/*.log
